<div id="loader"></div>
<div id="invoice-POS" style="display:none;" class="animate-bottom">
  <div id="top">
    <!--div class="logo"></div-->
    <div class="info">
      <h2>Tiendas Homex</h2>
    </div>
  </div>

  <div id="mid">
    <div class="info company"></div>
    <!--h3>Informacion</h3-->
    <p>
      Direccion: xxxxxxxxxxxxxxxx
      <br>
      Correo: xxxxxxx@xxxx.com
      <br>
      Telefono: xxxx-xxxx
    </p>
  </div>

  <div id="mid">
    <div class="info customer"></div>
    <!--h3>Informacion</h3-->
    <p *ngIf="finalTest">
      Factura: {{finalTest.InvoiceID}}
      <br>
      Cliente: {{finalTest.Client}}
      <br>
      Metodo Pago: {{finalTest.Payment}}
    </p>
  </div>

  <div id="bot">
    <table>
      <tr class="tabletitle">
        <td class="item">Producto</td>
        <td class="Hours">Cantidad</td>
        <td class="Tax">IVA</td>
        <td class="Rate">Sub Total</td>
      </tr>

      <ng-container *ngFor='let item of salesOrder'>
        <tr class="service">
          <td class="tableitem" *ngIf='item'><p class="itemtext">{{ item.ItemID }}</p></td>
          <td class="tableitem" *ngIf='item'><p class="itemtext">{{ item.Quantity }}</p></td>
          <td class="tableitem" *ngIf='item'><p class="itemtext">{{ item.Tax * 100 + '%' }}</p></td>
          <td class="tableitem" *ngIf='item'><p class="itemtext">{{ '₡' + item.Price * item.Quantity }}</p></td>
        </tr>
      </ng-container>

      <tr class="tabletitle footer">
        <td></td>
        <td></td>
        <td class="Rate"><h2>Total IVA</h2></td>
        <td class="payment"><h2>{{'₡' + totalTax}}</h2></td>
      </tr>

      <tr class="tabletitle footer">
        <td></td>
        <td></td>
        <td class="Rate"><h2>Total</h2></td>
        <td class="payment"><h2>{{'₡' + total}}</h2></td>
      </tr>
    </table>
  </div>

  <div id="legalcopy">
    <p class="legal"><strong>Gracias por comprar en Tiendas Homex!</strong>  Que tenga un bello dia. 
    </p>
  </div>
</div>